@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

#root {
  width: 100%;
}
